
a{
    color: white;
}
.navegation{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:rgb(167, 202, 241);
}
.from-btn{
    display: flex;
    justify-content: space-evenly;
}
.btn-opciones{
    display: flex;
    gap: 1rem;
}
.passenger-head{
    display: flex;
    justify-content: flex-end;
}
.btn-search{
    display: flex;
    justify-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem ;
}
.btn-save{
    margin-top: 1rem;
}
.fa-save{
    padding: 5px;
}
.fa-user-edit{
    padding: 5px;
}
.fa-user-minus{
    padding: 5px;
}

.card{
    width: 922px;
    margin: 30px 250px;
}
